<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body class="cuerpo">
  <%- include('../partials/header.ejs') %> 
    <div class="formCarga">
      <form action="/admin/formCarga" method="POST" id ="formCarga" class="contenedor" enctype="multipart/form-data">
        <h2>Agregar nuevo Producto</h2>
        <hr>
        <div class="row">
          <div class="col-10">
            
            <input type="text" name="name" placeholder="Nombre del producto" id="name">
            <span class="error" id="nameError"></span>
            <span><%=(typeof errores != 'undefined' && errores.name)? errores.name.msg: "" %></span>
           
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label>Modelo del producto</label>
            <input type="text" id="make" name="make" placeholder="Modelo o marca del producto">
            <span id="makeError"></span>
            <span><%=(typeof errores != 'undefined' && errores.name)? errores.name.msg: "" %></span>
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            <label for="precio">Precio de Producto</label>
            <input type="number" id="price" name="price">
            <span id="priceError"></span>
            <span><%=(typeof errores != 'undefined' && errores.name)? errores.name.msg: "" %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="description">Descripcion</label>
            <span id="descriptionError"></span>
            <input type="text" name="description" id="description">
          </div>
        </div>

        <div class="row">
          <div class="col-10">
            <label name="imgagen">Imagen de Producto</label>
            <span id="formFileLg"></span>
            <input class="form-control form-control-lg" id="formFileLg" type="file"  name="img">
            <span class="text-danger"><%=(typeof errores != 'undefined' && errores.name ? errores.name.msg: null ) %></span>
          </div>
        </div>
        <br>
        <button class="button" type="submit">Publicar</button>
        
      </form>
    </div>
  <%- include('../partials/footer.ejs')%> 
  <script src="/javascripts/producto.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
</body>
</html>