<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body class="cuerpo">
  <%- include('../partials/header.ejs') %> 
    <div class="formCarga">
      <form action="/admin/formCarga" method="POST" id ="formCarga" class="form-carga" enctype="multipart/form-data">
        <h2>Agregar nuevo Producto</h2>
        <hr>
        <div class="row">
          <div class="col-12 col-md-6">
            <label>Nombre del producto</label>
            <input type="text" name="name" placeholder="Nombre del producto" id="inputname" class="form-datos">
            
            <!-- validaciones front y back en un mismo span-->
            <span class="text-danger" id="nameError"><%=(typeof errores != 'undefined' && errores.name ? errores.name.msg: null ) %></span>
           
          </div>
        
          <div class="col-12 col-md-6">

            <label>Marca</label>
            <select name="make" class="form-datos" id="inputmake">
              <option selected hidden value="">Seleccione la marca</option>
              <% marcas.forEach(marca => { %>
               <option value="<%= marca.id %> "><%= marca.make %> </option>
              <% }) %>
            </select>  
            
            <span class="text-danger" id ="makeError"><%=(typeof errores != 'undefined' && errores.make ? errores.make.msg: null ) %></span>
         
          </div>

          <div class="col-12 col-md-3">

            <label>Color</label>
            <select name="color" class="form-datos" id="color">
              <option selected hidden value="" >Seleccione el color</option>
              <% colores.forEach(colors => { %>
               <option value="<%= colors.id %> "><%= colors.color %> </option>
              <% }) %>
            </select>

           
            <span class="text-danger" id="colorError"><%=(typeof errores != 'undefined' && errores.color ? errores.color.msg: null ) %></span>
          </div>

          <div class="col-12 col-md-3">
            
            <label>Categoria</label>
            <select name="category" class="form-datos" id="category">
              <option selected hidden value="" >Seleccione la categoria</option>
              <% categorias.forEach(categoria => { %>
               <option value="<%= categoria.id %> "><%= categoria.category %> </option>
              <% }) %>
            </select>

           
           <span class="text-danger" id="categoryError"><%=(typeof errores != 'undefined' && errores.category ? errores.category.msg: null ) %></span>
         
           
          </div>

          <div class="col-12 col-md-3">

            <label>Descuento</label>
            <select name="discount" id="discount" class="form-datos">
              <option selected hidden value="" >Seleccione el descuento</option>
              <% descuentos.forEach(descuento => { %>
               <option value="<%= descuento.id %> "><%= descuento.discount %> </option>
              <% }) %>
            </select>
          
            <span class="text-danger" id="discountError"><%=(typeof errores != 'undefined' && errores.discount ? errores.discount.msg: null ) %></span>

          </div>
       
          <div class="col-12 col-md-3">
            <label>Precio del producto</label>
            <input type="number" id="price" name="price" class="form-datos" >
            
            <span class="text-danger" id="priceError"><%=(typeof errores != 'undefined' && errores.price ? errores.price.msg: null ) %></span>
          </div>
        
         
        
          <div class="col-12 ">
                       
            <input type="text" name="description" id="description" class="form-datos" placeholder="Description">
            
            <span class="text-danger" id="descriptionError"><%=(typeof errores != 'undefined' && errores.description ? errores.description.msg: null ) %></span>
          </div>
        </div>
    <div class="row mt-5">
          <div class="col-12 col-md-6">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="file" name="image">
              <label class="custom-file-label" for="customFile">Elija la imagen</label>
            </div>
          
            <span class="text-danger" id="fileError"><%=(typeof errores != 'undefined' && errores.image ? errores.image.msg: null ) %></span>
          </div>
          
          
          <div class="col-12 col-md-6 d-flex justify-content-center mt-2 mr-1">
            <button class="btn btn-primary" type="submit">Publicar</button>
            <span id="submitErrors" class="text-danger"></span>
          </div>
        </div>
       
        
      </form>
    </div>
  <%- include('../partials/footer.ejs')%> 
  <script src="/javascripts/producto.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>
</body>
</html>