<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body class="admin">
  <%- include('../partials/header.ejs') %> 
    <div class="container cargaProducto">
      <form action="/admin/editado/<%= producto.id %>?_method=PUT" method="POST">
        <h2>Editar Producto</h3>
        <hr>
        <div class="row">
          <div class="col-10">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" value="<%= producto.name %>">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="modelo">Marca</label>
            <input type="text" class="form-control" name="make" value="<%= producto.make %>">
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            <label for="precio">Precio de Producto</label>
            <input type="number" class="form-control" name="price" value="<%= producto.price %>">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="description">Descripcion</label>
            <input type="text" class="form-control" name="description" value="<%= producto.description %>">
          </div>
        </div>


        <div class="row">
          <div class="col-10">
            <label name="imgagen">Imagen de Producto</label>
            <input type="file" class="form-control" name="img" value="<%= producto.img %>">
          </div>
        </div>
        <br>
        <div class="text-center mb-3">
          <button class="btn btn-warning" type="submit">Subir cambios</button>
        </div>
        
      </form>
    </div>
  <%- include('../partials/footer.ejs')%> 
</body>
</html>