<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body class="admin">
  <%- include('../partials/header.ejs') %> 
    <div class="container cargaProducto">
      <form action="/admin/editado/<%= producto.id %>?_method=PUT" method="POST">
        <h2>Editar Producto</h3>
        <hr>
        <div class="row">
          <div class="col-10">
            
            <input type="text" class="form-control mt-5 form-datos" name="name" id="inputname"value="<%= producto.name %>">
            <span id="nameError" class="text-danger"><%=(typeof errores != 'undefined' && errores.name ? errores.name.msg: null ) %></span>
          
-->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="modelo" id="inputmake">Marca</label>
            <input type="text" class="form-control mt-5 form-datos" name="make" value="<%= producto.make %>">
            <span id="makeError" class="text-danger"><%=(typeof errores != 'undefined' && errores.make ? errores.make.msg: null ) %></span>
            
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            <label for="precio">Precio de Producto</label>
            <input type="number" class="form-control mt-5 form-datos" name="price" id="price" value="<%= producto.price %>">
            <span id="priceError" class="text-danger"><%=(typeof errores != 'undefined' && errores.price ? errores.price.msg: null ) %></span>
          
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="description">Descripcion</label>
            <input type="text" class="form-control mt-5 form-datos" name="description" id="description" value="<%= producto.description %>">
            <span id="descriptionError" class="text-danger"><%=(typeof errores != 'undefined' && errores.description ? errores.description.msg: null ) %></span>
          </div>
        </div>


        <div class="row">
          <div class="col-10">
            <label name="imgagen" >Imagen de Producto</label>
            <input type="file" class="form-control mt-5 form-datos" id="formFileLg" name="image" >
            <span id="formFileLgError" class="text-danger" ><%=(typeof errores != 'undefined' && errores.image ? errores.image.msg: null ) %></span>
          
          </div>
        </div>
        <br>
        <div class="text-center mb-3">
          <button class="btn btn-warning" type="submit">Subir cambios</button>
        </div>
        
      </form>
    </div>
  <%- include('../partials/footer.ejs')%> 
  <script src="/javascripts/producto.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>
  
</body>
</html>