<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body id="detalle-detalle">
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  
  <div class="container detalle">
    <section class="detalle">
      <div class="row">
        <div class="col-12">
          <h2 class="titulo-detalle"><%- producto.name %> <%- producto.producto_make.make %></h2>

        </div>
        <div class="col-12 paraBorder">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
                <figure class="">
                  <img src="/images/imgProduct/<%-producto.images[0].image %>" alt="bicicleta" class="img-fluid">
                </figure>
                <hr id="hr">
              </div>
              <div class="col-12 col-md-6 ">
                <h3 class="sub-titulo"><%- producto.name + ' ' + producto.producto_make.make%></h3>
                <div class="d-flex justify-content-center my-4">
                  <h3 class="p-0 mx-1">$<%-producto.price%></h3>
                  <span class="p-0 m-0"><%-producto.product_discount.discount%> %OFF</span>
                </div>
                <div class="my-4">
                  <p><%-producto.description%></p>

                </div>
                <select class="custom-select my-4">
                  <% colores.forEach(color => { %>
                    <option value="<%= color.id %>" <%= color.id == producto.product_color.id ? "selected" : null %> ><%= color.color %> </option>
                  <% }) %>
                </select>
              
                <div class="btns-detalle">
                  <button class="btn btn-detalle hvr-buzz-out" type="submit"><a href="">comprar</a></button>
                  <button class="btn btn-detalle hvr-buzz-out" type="submit"><a href="">agregar a carrito</a></button>
                </div>
                <hr>
              </div> 
            </div>
          </div> 
        </div>
      </div>      
    </section>
    <hr>
  </div>
 
  <%- include('partials/footer.ejs') %> 
  <script src="/javascripts/detalle.js"></script>
</body>
</html>