<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body id="detalle-detalle">
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  
  <div class="container detalle">
    <section class="detalle">
      <div class="row">
        <div class="col-12">
          <h2 class="titulo-detalle"><%- producto.name %> <%- producto.make %></h2>

        </div>
        <div class="col-12 paraBorder">
          <div class="contain text-left">
            <div class="row box">
              <div class="col-12 col-lg-7 imgProducto">
                <figure class="text-center">
                  <img src="/images/imgProduct/<%-producto.product[0].image %>%>" alt="bicicleta" class="img-fluid">
                </figure>
                <hr id="hr">
              </div>
              <div class="col-12 col-lg-4 text-center auto">
                <h3 class="sub-titulo"><%- producto.name + ' ' + producto.make %></h3>
                <p class="modelo">Modelo:<%-' ' + producto.model%></p>
                <h3 class="precio">$<%-producto.price%><span class="descuento"><%= '  ' + producto.product_discount.discount%>%OFF</span></h3>
                <i class="fas fa-truck"></i>
                <div class="form-control-color-picker mb-4" tabindex="0">
                  <div class="form-control-color-picker-value"></div>
                  <div class="form-control-color-picker-dropdown">
                     <div class="form-control-color-picker-dropdown-item" data-value="#E3AC00" style="background-color:black; color:#fff">Negro</div>
                     <div class="form-control-color-picker-dropdown-item" data-value="#993D8F" style="background-color:#993D8F; color:#fff">Violeta</div>
                     <div class="form-control-color-picker-dropdown-item" data-value="#00AACE" style="background-color:gold; color:#000">Amarillo</div>
                     <div class="form-control-color-picker-dropdown-item" data-value="#747B9E" style="background-color:rgb(255, 38, 38); color:#fff">Rojo</div>
                     <div class="form-control-color-picker-dropdown-item" data-value="#BDB962" style="background-color:rgb(2, 145, 2); color:#000">Green</div>
                     <div class="form-control-color-picker-dropdown-item selected" data-value="#3CA6AB" style="background-color:rgb(38, 38, 255); color:#fff">Azul</div>
                  </div>
                  <input type="hidden" name="color" id="color" value="#3CA6AB">
                  <div class="form-control-color-picker-triangle"></div>
                </div>
                <div class="btns-detalle">
                  <button class="btn btn-detalle hvr-buzz-out" type="submit"><a href="">comprar</a></button>
                  <button class="btn btn-detalle hvr-buzz-out" type="submit"><a href="">agregar a carrito</a></button>
                </div>
                <hr>
                <p class="description mb-5"><%-producto.description%></p>
              </div> 
            </div>
          </div> 
        </div>
      </div>      
    </section>
    <hr>
  </div>
 
  <%- include('partials/footer.ejs') %> 
  <script src="/javascripts/detalle.js"></script>
</body>
</html>