<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body id="detalle-detalle">
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  
  <div class="container detalle">
    <section class="detalle">
      <div class="row">
        <div class="col-12">
          <h2 clase="titulo-detalle text-center">Detalle del Producto:</h2>

        </div>
        <div class="col-12 paraBorder">
          <div class="contain text-left">
            <div class="row box">
              <div class="col-12 col-lg-7 imgProducto">
                <figure class="text-center">
                  <img src="/images/<%-producto.img%>" alt="bicicleta" class="img-fluid">
                </figure>
                <hr>
              </div>
              <div class="col-12 col-lg-4 text-center auto">
                <h3 class="sub-titulo"><%- producto.name + ' ' + producto.marca %></h3>
                <p class="modelo">Modelo:<%-' ' + producto.modelo%></p>
                <h3 class="precio">$<%-producto.precio%><span class="descuento"><%= '  ' + producto.descuento%>%OFF</span></h3>
                
                <span class="envio"><%-producto.envio%></span>
                <i class="fas fa-truck"></i>
                <p class="color">Color:<%-' ' + producto.color%></p>
                
                <a href=""><button class="btn btn-warning" type="submit">comprar</button></a>
                <a href=""><button class="btn btn-warning" type="submit">agregar a carrito</button></a>
                <hr>
                <p class="sub-titulo"><%- producto.name + ' ' + producto.marca %></p>
                <p class="description mb-5"><%-producto.description%></p>
              </div> 
            </div>
          </div> 
        </div>
      </div>      
    </section>
    <hr>
  </div>
 
  <%- include('partials/footer.ejs') %> 
</body>
</html>