<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %> 
<body id="detalle-detalle">
  <%- include('partials/header.ejs') %> 
  <!--aqui es donde debe ir la vista de detalle de los productos selecionados -->
  
  <div class="container detalle">
    <div class="row detalle"> <!--div row para c. sección-->
      <div class="col-12">
        <h2 clase="titulo-detalle text-center">Detalle del Producto:</h2>
        <h3 class="text-center"><%- producto.name + ' ' + producto.marca %></h3>
      </div>

      <div class="col-11">
        <div class="product-box text-left">
          <div class="row box">
            <figure class="text-center col-11 col-lg-8">
              <img src="/images/<%-producto.img%>" alt="bicicleta" class="img-fluid">
            </figure>
          </div>
          <div class="col-12 col-lg-4">
            <h3 class="precio">$<%-producto.precio%></h3>
            <span class="descuento"><%-producto.descuento%></span>
            <span class="envio"><%-producto.envio%></span>
            <i class="fas fa-trunk"></i>
            <p class="color"><%-producto.color%></p>
            <p class="modelo m-3"><%-producto.modelo%></p>
            <a href=""><button class="btn btn-primary" type="submit">comprar</button></a>
            <a href=""><button class="btn btn-primary" type="submit">agregar a carrito</button></a>
            <p class="description mb-5"><%-producto.description%></p>

          
          </div>
        </div>
               
      </div>

    </div>

  </div>
 
  <%- include('partials/footer.ejs') %> 
</body>
</html>