<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>
     <div class="login">
       
       <form class="sesion" action="" method="POST">

          <h2>Inicia sesion</h2>
          <p>
            <input type="email" placeholder="Email" name="email">
            <span><%= (typeof errores != 'undefined' && errores.email)? errores.email.msg: "" %> </span>
          </p>

          <p>
            <input type="password" placeholder="Contrase単a" name="pass">
            <span><%= (typeof errores != 'undefined' && errores.pass)? errores.pass.msg: "" %></span>
          </p>

          <span>
            <input type="checkbox" name="recordar" id="recordar">
            <label for="recordar">Recuerdame</label>
          </span>
          
          <p>
            <button class="button" type="submit">Entrar</button>
          </p>
          
        <a href="/usuario/registro" id="help-login">多Todavia no tienes una cuenta?</a>
        <a href="" id="help-login">多Olvidaste tu Contrase単a?</a>
      </form>

    </div> 
        
      <%- include('partials/footer') %>

  </body>
</html>