<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')%>
<body>
    <%- include('partials/header')%> 

    <main>
        <h1>Mi Perfil</h1>

        <div class="text-center col-10">

            <img src="/images/users/<%= user.foto%>" alt="foto de perfil" class="img-fluid">

            <p>Nombre de usuario: <span><%= ' ' + user.nombre + ' ' + user.apellido%> </span></p>

            <p>Email: <span><%= ' ' + user.email %> </span></p>

            <a href="/usuario/cerrarSesion">cerrar sesion</a>

            <form action="/usuario/eliminarUsuario/<%= user.id %>?_method=DELETE " method="POST">
                <button type="submit">Eliminar cuenta</button>
            </form>

        </div>
    </main>

    <%- include('partials/footer')  %> 

</body>
</html>