<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
<body class="admin">
  <%- include('partials/header.ejs') %> 
    <div class="container cargaProducto">
      <form action="/admin/editado/<%= producto.id %>?_method=PUT" method="POST">
        <h3>Editar Producto</h3>
        <hr>
        <div class="row">
          <div class="col-10">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" value="<%= producto.name %>">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="modelo">Marca</label>
            <input type="text" class="form-control" name="marca" value="<%= producto.marca %>">
          </div>
        </div>  
        <div class="row">
          <div class="col-10">
            <label for="precio">Precio de Producto</label>
            <input type="number" class="form-control" name="precio" value="<%= producto.precio %>">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="description">Descripcion</label>
            <input type="text" class="form-control" name="description" value="<%= producto.description %>">
          </div>
        </div>
        <div class="row"> 
          <div class="col-10">
            <label>Estado de prodcuto</label>
            <br>
            <input name="nuevo" value="<%= producto.nuevo %>" type="checkbox">usado
            <br>
            <input name="usado" value="<%= producto.usado %>" type="checkbox">nuevo
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="contacto">Contacto Proveedor</label>
            <input type="numero" class="form-control" name="contacto" value="<%= producto.contacto %>">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="cobro">Medio De Cobro</label>
            <br>
            <input name="tarjeta" value="<%= producto.tarjeta %>" type="checkbox">tarjetas
            <br>
            <input name="efectivo" value="<%= producto.efectivo %>" type="checkbox">efectivo
            <br>
            <input name="pagoFacil" value="<%= producto.pagoFacil %>" type="checkbox">pago facil

          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label for="envio">Envio</label>
            <br>
            <input name="retiro" value="<%= producto.retiro %>" type="checkbox">retiro personal
            <br>
            <input name="envio" value="<%= producto.envio %>" type="checkbox">envio a domicilio
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <label name="imgagen">Imagen de Producto</label>
            <input type="text" class="form-control" name="img" value="<%= producto.img %>">
          </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Subir cambios</button>
        
      </form>
    </div>
  <%- include('partials/footer.ejs')%> 
</body>
</html>