<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head')%>

<body class="cuerpo">
    <%- include('../partials/header')%>
   
    <div class="contenedor">
        <div class="form-registro">

            <form id="form" class="sesion-registro"  action="/usuario/edit/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <h1 class="registro h1 mt-2">edicion de perfil</h1>

                <input id="name" class="form-control mt-5 form-datos" name="name" type="text" placeholder="Nombre" value="<%= userPerfil.name %> ">
            
                <span  id="nameError" class="text-danger"><%=(typeof errores != 'undefined' && errores.name ? errores.name.msg: null ) %></span>

                <input id="lastname" class="form-control mt-5 form-datos" name="lastName" type="text" placeholder="Apellido" value="<%= userPerfil.lastName %> ">
        
                <span id="lastNameError" class="text-danger"><%=(typeof errores != 'undefined' && errores.lastName ? errores.lastName.msg: null ) %></span>

                <input id="date" class="form-control mt-5 form-datos" name="birthday" type="date" placeholder="Fec. Nac. - " value="<%= userPerfil.birthday %> ">
                <span id="dateError"></span>
                

                <div class="mt-5">
                    <div class="img-container" id="img-preview"></div>
                    <input class="form-control photo-box mt-3 img-thumbnail" type="file" id="formFile" name="avatar" value="<%= userPerfil.avatar%> ">
                    <span id="fileErrors"></span>
                </div>

                
                <div>
                    <button class="btn btn-registro hvr-box-shadow-outset" type="submit">subir cambios</button>
                </div>
            </form>
        </div>
    </div>


    

    <%- include('../partials/footer') %>
    <script src="/javascripts/registro.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
</body>
</html>