<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
    <div class="login">
       
      <form class="sesion" action="" method="POST">
        <h2 class="loginh2">Inicia sesion</h2>
        
        <input type="email" placeholder="Email" id="email" name="email" class="login-credentials">
        <span id="emailErrors"></span>
        <span><%= (typeof errores != 'undefined' && errores.email)? errores.email.msg: "" %> </span>
          

          
        <input type="password" placeholder="Contrase単a" id="pass" name="password" class="login-credentials">
        <span id="passErrors"></span>
        <span><%= (typeof errores != 'undefined' && errores.password)? errores.password.msg: "" %></span>
          

        <!--OPCION PARA USAARIO NORMAL Y ADMIN-->



        <span>
          <input class="checkbox" type="checkbox" name="recordar" id="recordar">
          <label for="recordar">Recuerdame</label>
        </span>
          
          
        <button class="btn login-button" type="submit">Entrar</button>
          
          
        <a href="/usuario/registro" class="help-login">多Todavia no tiene una cuenta?</a>
        <a href="" class="help-login">多Olvidaste tu Contrase単a?</a>
      </form>
    </div>

    <%- include('../partials/footer') %>

    <script src="/javascript/userLogin.js"></script>

  </body>
</html>