<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
    <div class="login">
       
      <form class="sesion" method="POST">
        <h2 class="loginh2">Inicia sesion</h2>
        
        <input type="email" placeholder="Email" name="email" class="login-credentials">
        <span><%= (typeof errores != 'undefined' && errores.email ? errores.email.msg: null) %> </span>
          

          
        <input type="password" placeholder="Contrase単a" name="password" class="login-credentials">
        <span><%= (typeof errores != 'undefined' && errores.password ? errores.password.msg: null) %></span>
          

        //opcion para usuario normal y admin



        <span>
          <input class="checkbox" type="checkbox" name="recordar" id="recordar">
          <label for="recordar">Recuerdame</label>
        </span>
          
          
        <button class="btn login-button" type="submit">Entrar</button>
          
          
        <a href="/usuario/registro" class="help-login">多Todavia no tiene una cuenta?</a>
        <a href="" class="help-login">多Olvidaste tu Contrase単a?</a>
      </form>
    </div>

    <%- include('../partials/footer') %>

  </body>
</html>