<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%>

<body>
    <body class="perfil">
        <%- include('../partials/header')%>
       
        <div class="contenedor">
            
            <div class="row">
              <div class="register-wrapper">
                <div class="register-form">
                    
                        <div class="pic text-center">
                            <img src="/images/imgUser/<%= user.avatar %>" alt="foto de perfil" class="img-fluid">
                        </div>
                        <div>
                            <!--ESPACIO PARA QUE SE ACOMODEN LAS COSAS-->
                        
                        </div>
                        <br>
                        <div>
                            <div class="usuario-registrado">
                                <label  style="color: aliceblue; font-family: Arial, Helvetica, sans-serif;
                                font-size: x-large;">Usuario: <span class="form-datos" style="color: aliceblue"><%= ' ' + user.name + ' ' + user.lastName%> </span></label>
                                
                               <br>

                                <label style="color: aliceblue; font-family: Arial, Helvetica, sans-serif;
                                font-size: x-large;">Email: <span class="form-datos" style="color: aliceblue"><%= ' ' + user.email %> </span></label>
                                
                                <!-- poner address -->

                            </div>

                        </div>
                        <br>
                        <div style="display: flex;">

                           
                               <a class="btn header-btn hvr-ripple-in mb-3" href="/usuario/edit/<%=user.id%>" id="">Editar</a>
                            </button>
                           

                           <form action="/usuario/eliminar/<%= user.id %>?_method=DELETE" method="POST">
                                <button  class="btn header-btn hvr-ripple-in" type="submit">eliminar cuenta</button>
                           </form>
                          
                        </div>                          
                                     
                </div>
    
              </div>    
            </div>
        </div>
    
        <%- include('../partials/footer') %>
    </body>
</body>
</html>
