<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%>

<body>
    <body class="cuerpo">
        <%- include('../partials/header')%>
       
        <div class="contenedor">
            
            <div class="row">
              <div class="register-wrapper">
                <div class="register-form">
                    
                        <div class="pic text-center">
                            <img src="/images/imgUser/<%= user.avatar%>" alt="foto de perfil" class="img-fluid">
                        </div>
                        <div>
                            <!--ESPACIO PARA QUE SE ACOMODEN LAS COSAS-->
                        </div>
                        <div class="usuario-registrado">
                            <label>usuario: <span><%= ' ' + user.name + ' ' + user.lastName%> </span></label>
                            
                            <br>

                            <label>Email: <span><%= ' ' + user.email %> </span></label>

                            <!-- poner address -->

                        </div>
                      
                        <div>

                            <button class="btn header-btn hvr-ripple-in mb-3">
                                <a href="/usuario/edit/<%=user.id%>">editar</a>
                            </button>
                           
                           <form action="/usuario/eliminar/<%= user.id %>?_method=DELETE" method="POST">
                                <button  class="btn header-btn hvr-ripple-in" type="submit">eliminar cuenta</button>
                           </form>
                          
                        </div>                          
                                     
                </div>
    
              </div>    
            </div>
        </div>
    
        <%- include('../partials/footer') %>
    </body>
</body>
</html>
